# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
azurefunctions-extensions-http-fastapi
azure-ai-documentintelligence
azure-ai-contentunderstanding
azure-identity
azure-storage-blob
openai
numpy
Pillow
opencv-python-headless
python-multipart
pypdf
requests
pymupdf
python-dateutil
